@media screen and (max-width: 800px) {
    .topnav a {
      display: none;
    }
    .topnav a.icon {
      align-items: center;
      display: flex;
      float: right;
      height: 2rem;
      justify-content: center;
      margin: 0.5rem 0rem;
      width: 2rem;
    }
  
    .hero-section {
      display: flex;
      flex-direction: column;
      height: auto;
      box-shadow: none;
    }
  
    .hero-content {
      display: flex;
      flex-direction: column;
      background: #fff;
      color: #000;
      padding: 0;
      width: 97%;
    }
    
    .hero-img img {
      width: 95%;
    }
    .hero-content::after {
      content: unset;
    }
    .hero-content > .btn-signup {
      display: none;
    }
    .hero-section > .btn-signup {
      display: block;
      width: 40%;
      align-self: center;
      text-align: center;
      padding: 15px;
    }
    .hero-headline {
      font-size: 3rem;
      white-space: normal;
      overflow-wrap: break-word;
      width: 100%;
    }
    .hero-text {
      overflow-wrap: normal;
      font-size: 1rem;
    }
    .hero-img img {
      border-radius: 10px;
      margin-top: 40px;
      width: 97%;
    }
  
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 50px;
      top: 0;
      display: flex;
      justify-content: center;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a {
      display: none;
    }
    .topnav a.icon {
      float: right;
    }
  }
  
  /* affichage du contenu pour format smatphone et tablette */
  @media screen and (min-width: 540px) and (max-width: 800px) {
    .hero-section {
      display: block;
      box-shadow: unset;
    }
    .hero-section > .btn-signup {
      display: block;
      margin: 32px auto 10px;
      padding: 12px 35px;
    }
    .hero-content {
      background: #fff;
      color: #000;
      padding: 0;
      width: 100%;
      text-align: center;
    }
    .hero-content::after {
      content: unset;
    }
    .hero-content .btn-signup {
      display: none;
    }
    .hero-headline {
      font-size: 4rem;
      white-space: normal;
      overflow-wrap: break-word;
      width: 90%;
    }
    .hero-text  {
      overflow-wrap: normal;
      font-size: 1rem;
    }
    .hero-img img {
      border-radius: 10px;
      margin-top: 40px;
      width: 97%;
    }
    .copyrights {
      margin-top: 50px;
    }
  }